.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 16px;
  background-image: url("../../assets/images/onboarding-lock-icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: -64px;
  & .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 96px;
    margin-bottom: 16px;

    & .title {
      font-size: 32px;
      font-weight: 500;
      line-height: 110%;
      margin-bottom: 16px;
    }
    & .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: #9cabc9;
      margin-bottom: 16px;
    }
  }
  & .middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 12px 0;
    .mnemonic-inputs {
      background: #26304c;
      border: 1.5px solid #1f367c;
      min-height: 280px;
      border-radius: 8px;
      .input-values {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .input {
          width: 32%;
          height: 32px;
          margin: 12px 0px;
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          .input-box {
            width: 100%;
            height: 100%;
            border: 1.5px solid #1f367c;
            outline: none;
            background-color: #131829;
            border-radius: 8px;
            caret-color: #ffffff;
            color: #ffffff;
            text-align: center;
          }
          & ::placeholder {
            color: #9cabc9;
            opacity: 1;
          }

          & ::-ms-input-placeholder {
            color: #9cabc9;
          }
        }
      }
    }
    textarea {
      background: #26304c;
      border: 1px solid #26304c;
      resize: none;
      border-radius: 8px;
      height: 280px;
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
      font-family: inherit;
      color: #ffffff;
      font-size: 16px;
      caret-color: #ffffff;

      &:focus {
        outline: none;
        border: 1px solid #0184fc;
        box-shadow: 0px 0px 12px 0px rgba(1, 86, 252, 0.25),
          0px 0px 24px 0px rgba(1, 86, 252, 0.25),
          0px 0px 32px 0px rgba(1, 86, 252, 0.25),
          0px 0px 8px 0px rgba(1, 86, 252, 0.25);
      }
    }
  }

  & .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .primary-btn {
      height: 42px;
      margin: 6px 0;
    }
    .signup {
      margin: 6px 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: min(100%, 280px);
      height: 56px;
      &-text {
        word-spacing: nowrap;
        font-size: 14px;
        color: #9cabc9;
        font-weight: 400;
      }
      &-btn {
        font-size: 14px;
        width: 60px;
        height: 100%;
        background: none;
        outline: none;
        border: none;
        color: #0156fc;
        padding: 0;
        margin: 0;
      }
    }
  }

  .no-of-words-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #83c2fd;
    border-radius: 50px;
    color: #ffffff;
    padding: 8px 4px;
    background-color: #131829;
    & .btn {
      padding: 0;
      margin: 0;
      width: 84px;
      background: none;
      outline: none;
      border: none;

      &:first-child {
        margin-right: 4px;
      }
      &:last-child {
        margin-left: 4px;
      }
    }
    & .active {
      color: #0156fc;
    }
    & .inactive {
      color: #ffffff;
    }
  }
}
