.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px 16px;
  background-image: url("../../assets/images/onboarding-bg.png");
  background-size: min(300px, 100%);
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  .top {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .logo {
      width: 56px;
    }
    .title {
      font-size: 24px;
      font-weight: 700;
      margin: 16px 0;
    }
  }

  .bottom {
    .btn {
      height: 36px;
    }
  }
}
