.card {
  margin: 4px 0;
  .btn {
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 16px;
    section {
      background: transparent;
      outline: none;
      border: none;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      img {
        padding: 0;
        margin: 0;
        margin-right: 8px;
        width: 22px;
        height: 22px;
      }
    }
    .value {
      color: #9cabc9;
      font-weight: 400;
    }
  }
}
