@import "../../constants.scss";

.root {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 12px;
  background-color: #191f31;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  border: none;
  & img {
    height: 22px;
    width: 22px;
    margin-bottom: 2px;
    @media only screen and (max-width: 321px) {
      height: 16px;
      width: 16px;
    }
  }
  span {
    color: $textSecondaryColor;
    font-size: 12px;
    @media only screen and (max-width: 321px) {
      font-size: 9px;
    }
  }
  &:active {
    opacity: 0.8;
  }
  &.active {
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
        brightness(102%) contrast(102%);
    }

    span {
      color: $textPrimaryColor;
    }
  }
  &:focus {
    outline: none;
    box-shadow: none;
    background: none;
  }
  &:active {
    outline: none;
    box-shadow: none;
    background: none;
  }
}

.back-root {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  background-color: #191f31;
  .back {
    width: 36px;
    height: 36px;
  }
}
