.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 0;
  .container {
    padding: 0 16px;
    width: 100%;
    height: 100%;
    .header {
      font-size: 18px;
      font-weight: 500;
      margin: 16px 0;
    }
    .list {
      display: flex;
      flex-direction: column;
      margin: 24px 0;
      .dns-card {
        margin: 8px 0;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 16px;
        .dns-item {
          height: 48px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          height: 32px;
          background: none;
          outline: none;
          border: none;
          width: 100%;
          .text {
            color: #6b7a97;
            font-size: 16px;
            font-weight: 400;
            &-selected {
              color: #ffffff;
              font-size: 16px;
              font-weight: 400;
            }
          }
          .hide-img {
            display: none;
          }
        }
      }
      .trash-btn {
        width: 28px;
        height: 24px;
      }
    }
    .add-btn {
      height: 42px;
      width: 100%;
      margin: 16px 0;
      position: relative;
      bottom: 0px;
    }
  }
}
