.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 0;
  .container {
    padding: 0 16px;
    width: 100%;
    height: 100%;
    .header {
      font-size: 18px;
      font-weight: 500;
      margin: 16px 0;
      color: #9cabc9;
    }
    .list {
      height: 100%;
      width: 100%;
      margin-bottom: 24px;
      .card {
        margin: 4px 0;
        .btn {
          background: transparent;
          outline: none;
          border: none;
          color: #ffffff;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          text-align: left;
          padding: 16px;
          section {
            background: transparent;
            outline: none;
            border: none;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
          }
        }
      }
    }
  }
}
